footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
    border-top: 1px solid #e5e5e5;
    text-align: center;
    color: white;
    background-color: #29335c;
    margin-bottom: 0;
   

}